
  /* Split layout for login page */
.login-container {
  display: flex;
  height: 100vh;
  background-color: var(--primary-color);
}

/* Image section */
.image-section {
  flex: 1;
  width: 30%;
  background-position: left;
 background-blend-mode: darken;
  filter: blur(2px); /* Blur effect */
  background: linear-gradient(rgba(255, 251, 0, 0.8), rgba(255, 208, 0, 0.9)), url('../../../assets/Images/login_background.jfif');
}

/* Form section styling */
.login-container .form-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8); /* Slight transparency */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  margin: 50px;
}

.login-container .form-section .login-header {
  text-align: center;
  margin-bottom: 2rem;
}

.login-container .form-section .login-header img {
  height: 50px;
  margin-bottom: 1rem;
}

.login-container .form-section h1 {
  font-size: 2rem;
  color: var(--secondary-color);
}


.login-container .form-section h2 {
  font-size: 2.2rem;
  color: var(--primary-color);
  font-weight: bold;
}

/* Form styling */
.login-container .form-section form {
  width: 100%;
  max-width: 400px;
}

.login-container .input-group {
  position: relative;
  margin-bottom: 15px;
}

.login-container .input-group i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--primary-color);
}

.login-container .input-group input {
  width: 100%;
  padding: 10px 40px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.login-container .input-group input:focus {
  border-color: var(--primary-color);
}

/* Button styling */
.login-container button {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.4rem;
}

.login-container button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/* Error message styling */
.login-container .error {
  color: red;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.login-container .log{
  text-align: center;
  padding-left: 170px;
}
/* Responsive adjustments */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }

  .login-container .image-section,
  .login-container .form-section {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .login-container .form-section {
    padding: 20px;
    margin: 20px;
  }
}
